{% extends 'generic_base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container-fludi">
    <div class="row">

        <div class="col-6">
        </div>

        <div class="col-6">
            <form class="d-flex flex-row justify-content-center align-items-center" action="{% url 'login:new' %}"
                method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input class="d-block" type="text" required name="username" id="username"
                            placeholder="Email ou Login" />
                    </div>
                    <div class="input-group mb-2">
                        <input class="d-block" type="password" required name="password" id="password"
                            placeholder="Senha" />
                    </div>
                    <div class="input-group mb-2">
                        <input style="width: 100%; background-color: #1D3557; border-radius: 15px;"
                            class="btn btn-success" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}