{% extends 'generic_base.html' %}

{% block title %} Cadastro {% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
      <form action="{% url 'signup:new' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group mb-2">
            <label for="username">Example file input</label>
            <input type="text" name="username" id="username" placeholder="Digite um nome de usuário..." required />
          </div>

          <div class="input-group mb-2">
            <label for="password">Example file input</label>
            <input type="password" name="password" id="password" placeholder="Digite uma senha" required />
          </div>

          <div class="input-group mb-2">
            <label for="email">Example file input</label>
            <input type="email" name="email" id="email" placeholder="Qual seu email?" required />
          </div>

          <div class="input-group mb-2">
            <label for="first_name">Example file input</label>
            <input type="text" name="first_name" id="first_name" placeholder="Qual seu nome?" required />
          </div>

          <div class="input-group mb-2">
            <label for="last_name">Example file input</label>
            <input type="text" name="last_name" id="last_name" placeholder="Qual seu sobre nome?" required />
          </div>

          <div class="input-group mb-2">
            <label for="photo">Example file input</label>
            <input type="file" name="photo" class="form-control-file" id="photo" placeholder="Escolha uma imagem" required />
          </div>


          <input type="submit" class="btn btn-success" value="Cadastrar" />

        </div>
    </div>
    </form>
  </div>
</div>
</div>
{% endblock %}